{% extends 'base.html' %}

{% load static %}

{% block facebooktags %}
{% endblock %}

{% block content %}

<div id="thank-banner">
<div class="container">
	<div class="visible-xs-block row text-center">
		<div class="col-xs-12">
			<img src="{% static 'img/logo-white.png' %}" alt="Booze Pigeon">
		</div>
	</div>
	<div class="hidden-xs row">
		<div class="col-sm-6 text-right" id="left-col">
			<img src="{% static 'img/logo-white.png' %}" alt="Booze Pigeon">
		</div>
		<div class="col-sm-6 text-left" id="head-text-lg">
			<h1 class="caps">Booze Pigeon</h1>
			<h4 class="caps">Thank you for signing up</h4>
		</div>
	</div>
</div>
</div>

<div id="share-header">
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center col-sm-8 col-sm-offset-2" id="text-col">
			<h3 class="caps">Don't leave your friends behind</h3>
			<h2 class="caps">Invite Friends &amp; </br> Win A Year's Supply Of Mixers</h2>
			<h4>Share your unique link via email, Facebook or Twitter and win mixers. Each signup earns you an additinal entry. As extra thanks, we'll even start you off with a few entries</h4>
			<!-- <span class="col-sm-8"> -->
			<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
			<input class="form-control text-center" value="http://www.boozepigeon.com/{{ref_code}}" type="text">
			</div>
			</div>
			<!-- </span> -->
			<div class="social-share">
				<a rel="nofollow" href="https://www.facebook.com/dialog/share?app_id=874222456004293&amp;display=popup&amp;redirect_uri=http://www.facebook.com/&amp;href=http%3A%2F%2Fwww.boozepigeon.com/{{ref_code}}/&amp;title=Booze Pigeon" title="Share on Facebook" target="_blank">
				<img src="{% static 'img/icon_fb.png' %}" alt="">
				</a>
				<a rel="nofollow" href="http://twitter.com/intent/tweet?url=http://www.boozepigeon.com/{{ref_code}}&amp;via=BoozePigeon" title="Tweet" target="_blank">
				<img src="{% static 'img/icon_twitter.png' %}" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
</div>

<div id="score-box">
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2> {% if referrals == 0 %}
				No friends have joined... yet
				{% elif referrals == 1 %}
				<span class="numref">{{referrals}}</span> friend joined
				{% else %}
				<span class="numref">{{referrals}}</span> friends joined
				{% endif %}
			</h2>

			<h2> + 2 <span class="highlight">FREE</span> Entries </h2>
			<h2> = <span class="numref">{{entries }}</span> entries total</h2>

		</div>
	</div>
</div>
</div>




{% include 'prize_progress_bar.html' %}









<!-- 	<p>We ship to the U.S. (&amp; Canada Soon)</p>        
	<a class="" href="/privacy-policy/" target="_blank">Privacy Policy</a>
</div> -->


<footer class="footer">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 text-right">
			<p>Contact us @ contest@boozepigeon.com</p>
			<p>Privacy Policy</p>
		</div>
	</div>
</div>
</div>

{% endblock %}

















