
<div id="prize-wrapper">
	<div class="container">

      <div class="row">
        <div class="col-lg-12">

          <div class="lg_device">

            <div class="row row-friends-joined">
              <div class="col-sm-3">
                <h3 class="row-main-label">Entries</h3>
              </div>
	            <div class="col-sm-9">

	                <div class="slider slider-horizontal slider-track-5 slider-disabled">

	                	<div class="slider-track">
	                		<div style="left: 0px; width: 0%;" class="slider-track-low">
	                		</div>
	                		<div style="left: 0%; width: {{width}}%;" class="slider-selection tick-slider-selection">
	                		</div>
	                		<div style="right: 0px; width: 176%;" class="slider-track-high">
	                		</div>

							<div style="left: 0%;" class="slider-tick slider-tick-0 round in-selection">
	                			<span class="slider-top-label"></span>0
	                		</div>


                      <div style="left: 20%;" class="{{true5}} slider-tick round slider-tick-1 ">
                        <span class="slider-top-label"></span>
                      
                          5

                      </div>



                  <div style="left: 40%;" class="{{true10}} slider-tick round slider-tick-2">
                        <span class="slider-top-label"></span>
                      
                          10

                      </div>

                      <div style="left: 60%;" class="{{true15}} slider-tick round slider-tick-3 ">
                        <span class="slider-top-label"></span>
                      
                          15

                      </div>

                      <div style="left: 80%;" class="{{true25}} slider-tick round slider-tick-4">
                        <span class="slider-top-label"></span>
                      
                          25

                      </div>

	                		<div style="left: 24%;" class="slider-handle min-slider-handle round"></div>
	                		<div style="left: 0%;" class="slider-handle max-slider-handle round hide"></div>
	                	</div>

	                	<div style="left: 24%; margin-left: -11.5px;" class="tooltip tooltip-main top hide">
	                		<div class="tooltip-arrow"></div>
	                		<div class="tooltip-inner">6</div>
	                	</div>
	            		<div style="" class="tooltip tooltip-min top hide">
	            			<div class="tooltip-arrow"></div>
	            			<div class="tooltip-inner"></div>
	            		</div>
	            		<div style="top: 18px;" class="tooltip tooltip-max bottom hide">
	            			<div class="tooltip-arrow"></div>
	            			<div class="tooltip-inner"></div>
	            		</div>
	                		
	               	</div>
                	<input id="slider-track" style="display: none;" data="value: '6'" value="6" data-slider-enabled="false" type="text">
              </div>
            </div>

            <div class="row row-rewards-texts">
                <div class="col-sm-3">
                  <h3 class="row-main-label">Reward</h3>
                </div>

                <div class="col-sm-9">
	                <div class="row rewards-boxes">

                    <div class="col-sm-offset-2 col-sm-2 reward-box">
                          <div class="panel panel-default">
                              <div class="panel-body">
                                <span class="reward-head-text">
                                  5
                                </span>
                                Burger King or Wendy's Coupon 
                              </div>
                          </div>
                      </div> 
                    
                  <div class="col-sm-2 reward-box">
                        <div class="panel panel-default">
                            <div class="panel-body">
                              <span class="reward-head-text">
                                10
                              </span>
                              Awesome Lyft Coupon
                            </div>
                        </div>
                    </div> 

                  <div class="col-sm-2 reward-box">
                        <div class="panel panel-default">
                            <div class="panel-body">
                              <span class="reward-head-text">
                                15
                              </span>
                                Top 10 Websites Only Drinkers Would Understand
                            </div>
                        </div>
                    </div> 


                 <div class="col-sm-2 reward-box">
                        <div class="panel panel-default">
                            <div class="panel-body">
                              <span class="reward-head-text">
                                25
                              </span>
                               Handwritten Letter of Appreciation
                            </div>
                        </div>
                  </div> 
	                 
	                </div>
                </div>

            </div>

          </div>





          <div class="sm_device">
            <div class="row row-friends-joined">
              <div class="col-xs-5 left">
                <div class="row-main-label">Friends Joined</div>
              </div>
              <div class="col-xs-7 right">
                <div class="row-main-label">Reward</div>
              </div>
            </div>
            <div class="row row-rewards-texts">

              <div class="col-xs-5 left">
                <div id="" class="slider slider-vertical slider-track-5 slider-disabled">
                  <div class="slider-track">
                    <div style="top: 0px; height: 0%;" class="slider-track-low"></div>
                    <div style="top: 0%; height: {{height}}%;" class="slider-selection tick-slider-selection"></div>
                    <div style="bottom: 0px; height: 76%;" class="slider-track-high"></div>
                    <div style="top: 0%;" class="slider-tick slider-tick-0 round in-selection">
                      <span class="slider-top-label"></span>0</div>
                      <div style="top: 25%;" class="slider-tick slider-tick-1 round {{true5}}">
                        <span class="slider-top-label"></span>
                      5</div>
                      <div style="top: 50%;" class="{{true10}} slider-tick slider-tick-2 round">
                        <span class="slider-top-label"></span>
                        10
                      </div>
                      <div style="top: 75%;" class="{{true15}} slider-tick slider-tick-3 round">
                        <span class="slider-top-label"></span>
                        15
                      </div>
                      <div style="top: 100%;" class="{{true25}} slider-tick slider-tick-4 round">
                        <span class="slider-top-label"></span>
                        25
                      </div>
                      <div style="top: 4%;" class="slider-handle min-slider-handle round"></div>
                      <div style="top: 0%;" class="slider-handle max-slider-handle round hide"></div>
                  </div>
              <div style="left: 100%; top: 24%; margin-top: 0px;" class="tooltip tooltip-main right hide">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">6</div>
              </div>
              <div style="left: 100%;" class="tooltip tooltip-min right hide">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner"></div>
              </div>
              <div style="left: 100%;" class="tooltip tooltip-max right hide">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner"></div>
              </div>
              </div>
                <input id="slider-track-vertical" style="display: none;" data="value: '6'" value="6" type="text">
              </div>
              <div class="col-xs-7 right">
                <div class="row rewards-boxes">
                

                <div class="no-opacity col-lg-2 reward-box reward-box-1 reward-earned">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <span class="reward-head-text">0</span>
                    Prize Level
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 col-lg-offset-0 reward-box reward-box-2 reward-earned">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <span class="reward-head-text">5</span>
                    Burger King or Wendy's Coupon
                    </div>
                  </div>
                </div>

                

                <div class="col-lg-2 reward-box reward-box-3">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <span class="reward-head-text">10</span>
                    Awesome Lyft Discount Code
                    </div>
                  </div>
                </div>


                <div class="col-lg-2 reward-box reward-box-4">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <span class="reward-head-text">15</span>
                    10 Websites Only Drinkers Would Understand
                    </div>
                  </div>
                </div>


                <div class="col-lg-2 reward-box reward-box-5">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <span class="reward-head-text">25</span>
                      Handwritten Letter of Appreciation
                    </div>
                  </div>
                </div>

              
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  
</div>


