{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="thank-banner">
<div class="container">
	<div class="row">
		<div class="col-sm-5" id="logo-col">
			<img id="logo" src="{% static 'img/logo-white.png' %}" alt="Booze Pigeon">
		</div>
		<div class="col-sm-6 caps" id="text-col">
			<h1>Booze Pigeon</h1>
			<h4>Thank you for signing up</h4>
		</div>
	</div>
</div>
</div>

<div id="share-header">
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center col-sm-8 col-sm-offset-2" id="text-col">
			<h3 class="caps">Don't leave your friends behind</h3>
			<h2 class="caps">Invite Friends &amp; </br> Win Stuff</h2>
			<h4>Share your unique link via email, Facebook or Twitter and win prizes. Each signup earns you an additional entry. As extra thanks, we'll even start you off with a few entries. Prizes distributed on a rolling basis. Opt out anytime</h4>

			<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<input class="form-control text-center" value="http://{{request.get_host}}/{{ref_code}}" type="text">
			</div>
			</div>
 
	<!-- FACEBOOK SHARE APP ID -->
			<div class="social-share">
				<a rel="nofollow" href="https://www.facebook.com/dialog/share?app_id=123123123123123&amp;display=popup&amp;redirect_uri=http://www.facebook.com/&amp;href=http%3A%2F%2Fwww.boozepigeon.com/{{ref_code}}/&amp;title=Booze Pigeon" title="Share on Facebook" target="_blank">
				<img src="{% static 'img/icon_fb.png' %}" alt="">
				</a>
				<a rel="nofollow" href="http://twitter.com/intent/tweet?url=http://www.boozepigeon.com/{{ref_code}}&amp;via=BoozePigeon" title="Tweet" target="_blank">
				<img src="{% static 'img/icon_twitter.png' %}" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
</div>


<div id="score-box">
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2> {% if referrals == 0 %}
				No friends have joined... yet
				{% elif referrals == 1 %}
				<span class="numref">{{referrals}}</span> friend joined
				{% else %}
				<span class="numref">{{referrals}}</span> friends joined
				{% endif %}
			</h2>

			<h2> + 2 <span class="highlight">FREE</span> Entries </h2>
			<h2> = <span class="numref">{{entries }}</span> total entries</h2>

		</div>
	</div>
</div>
</div>



{% include 'prize_progress_bar.html' %}


<div id="reminder">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h5>Keep checking</h5>
			</div>
		</div>
	</div>
</div>


<footer class="footer">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 text-right">
			<p>Contact us @ <a href="mailto:contest@boozepigeon.com" title="contest@boozepigeon.com">contest@boozepigeon.com</a></p>
		</div>
	</div>
</div>
</div>

{% endblock %}

















